.env
.env.*
!.env.example

/vendor/
/node_modules/

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

error_log
*.log
*.sql

/ad/
/wordpress/

.phpunit.result.cache
.DS_Store
