.icon-Cloud_computing:before {
    content: "\e915b";
}
.icon-DevOps:before {
    content: "\e919d";
}
.icon-BI-n-Visualization:before {
    content: "\e9919";
}
.icon-Cyber_Security_Category:before {
    content: "\e8913";
}
.icon-Data-science:before {
    content: "\e91a";
}
.icon-Programming_WebD:before {
    content: "\e591a";
}
.icon-Project_Management:before {
    content: "\e118a";
}
.icon-pgp-category:before {
    content: "\e917";
}
.icon-Software_testing:before {
    content: "\e5915";
}
.icon-BigData_analytics:before {
    content: "\e6918";
}
.icon-AI:before {
    content: "\e902f";
}
.icon-Frontend:before {
    content: "\e3911";
}
.icon-Database:before {
    content: "\e7912";
}
.icon-Robotics:before {
    content: "\e9314";
}
.icon-Data-warehousing-n-ETL:before {
    content: "\e9210";
}
.icon-Digital-Marketing:before {
    content: "\e8f5";
}
.icon-Operating-System:before {
    content: "\e930d";
}
.icon-Mobile_AppD:before {
    content: "\e9045";
}
.icon-Architecture-n-Design-Patterns:before {
    content: "\e190a";
}
.icon-Blockchain:before {
    content: "\e8ef";
}
.icon-Blog-View-icon:before {
    content: "\f06e";
}
.icon-Blog-Comment-icon:before {
    content: "\f022";
}
